* {
    margin: 0;
    padding: 0;
    color: 333333;
}

body {
    background-color: #f7f7f7;
    color: #333333;
}

header {
    padding: 10px;
  background-image: linear-gradient(to right, #6820db, #9969e7);
  color: white;
}

h1 {
    text-align: center;
    font-family: 'notable';
}

h2 {
    font-family: 'federo';
}

nav {
    display: flex;
    list-style: none;
    margin-top: 20px;
}

nav a {
    margin-right: 10px;
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: black;
}

nav a:hover {
    background-color: #35008a;
    transition: 1s ease;
}

main {
    padding: 10px;
}

section {
    display: flex;
}

.sobre-nos {
    padding: 10px;
    margin-right: 20px;
}

p{
    font-size: 1.2em;
    line-height: 1.3;
    text-align: justify;
    margin-right: 10px;
}

img {
    width: 500px;
    border-radius: 10px;
}

footer {
  background-color: #2d0f5c;
  color: white;
  padding: 10px;
  font-family: 'Federo', sans-serif;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  max-width: 800;
  margin: auto;
}

.footer-about, .footer-links, .footer-contact, .footer-social {
  flex: 1 1 200px;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links ul li {
  margin: 8px 0;
}

.footer-links ul li a,
.footer-social a {
  color: #dddddd;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-links ul li a:hover,
.footer-social a:hover {
  color: #6820db;
}

.footer-bottom {
  text-align: center;
  font-size: 0.9rem;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  padding-top: 15px;
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    text-align: center;
  }
}
